*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Raleway", arial, serif;
}
h1{
    font-family: "Raleway", arial;
    padding: 18px;
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 15px;
}
