.container{
    height:70px;
    display: flex;
    width: 100%;
    justify-content: center;
    position: fixed;
    top: 0;
}
.menu{
    width: 70%;
    background-color: black;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.logo{
    margin-left:12px;
}
.social-link{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.insta{
    margin-left:12px;
}
.link{
    margin-left:12px;
}
.github{
    margin-left:12px;
    margin-right:12px;
}

@media only screen and (max-width:500px){
    .icon-header{
        width: 35px;
        border-radius: 50%;
    }
    .icon-header1{
        width: 35px;
        transition: opacity 0,4s;        
    }
    .icon-header2{
        background-color: white;
        width: 35px;
        transition: opacity 0,4s;   
    }

}
@media only screen and (min-width:501px){
    .icon-header{
        width: 50px;
        border-radius: 50%;
    }
    .icon-header1{
        width: 50px;
        transition: opacity 0,4s;
    }
    .icon-header2{
        background-color: white;
        width: 50px;
        transition: opacity 0,4s;   
    }

}
.icon-header2:hover {
    cursor: pointer;
    opacity: 0.7;
        
}
.icon-header1:hover{
    cursor: pointer;
    opacity: 0.7;
}